.featuredInfo{
  background-color: whitesmoke;
  padding: 1rem 2rem;
  height: 100%;
}
.userInfo {
  display: flex;
  justify-content: space-around;
}

.serviceInfo {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.operationsInfo {
  padding: 50px;
}