.topBar {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.topBarLogoText {
  color: #00ADB5;
  font-size: 30px;
  font-weight: 600;
}

.topBarIconContainer {
  margin: 5px;
  cursor: pointer;
}

/* 00ADB5 */