.sideBar {
  flex: 1;
  background-color: rgb(251,251,255);
  margin-right: 2px;
  height: calc(100vh - 50px);
}

.sideBarWrapper {
  color: #555;
}

.sideBarList {
  list-style: none;
}

.sideBarListItem {
  margin-bottom: 15px;
}