
.operationsInfoContainer{
  flex: 1;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
  max-width: 22rem;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
}

.operationInfo {
  display: flex;
  justify-content: space-around;
}